*{
padding:0;
margin:0;
}


html{
height:100%;
}

body{
background-color:#FFCCFF;
min-height:100px; 

}

header{
background-color:#CCCCFF;
}

nav {
	
background-color:#FFCC99;	
height:50px;

}

.here{
color:green;	
}


.flex{
	
display:flex;
flex-wrap:wrap;
width:45%;
margin-right:10%;
margin-left:10%;


}

nav a {
text-decoration:none;
font-weight:bold;
font-family:verdana;
color:#000033;

} 

a:hover{
color:#9933CC;
border: 2px solid black;
}



input{
text-align:center;	
width:250px;
height:42px;
border: solid #33CCCC 2px;
border-radius:5px;
font-size:15px;
}

.h2{
	
font-family:calibri;
color:green;
	
}

button{
text-align:center;	
width:195px;
height:42px;
border: solid black 2px;
border-radius:3px;		
}

label{
font-weight:bold;
font-size:20px;
	
}


.write{
	
font-family:Bahnschrift;

	
}


footer{
position:absolute;	
background-color:black;
color:white;
height:5%;
width:100%;
margin-top:auto;
bottom:0px;
}


.Error{
background-color:#FFFF99;
color:red;	
font-weight:bold;
font-size:16px;
}